.frosted-bg {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}
.dark .frosted-bg {
    background-color: rgba(17, 24, 39, 0.8);
}
.workout-tasks-container {
    max-height: 400px;
    overflow-y: auto;
}

body {
    background-color:rgb(231, 231, 231)important;
}